<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Real-time OCR</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>Real-time OCR</h1>
    </header>

    <div class="content">
      <img
        id="videoFeed"
        src="{{ url_for('video_feed') }}"
        width="640"
        height="480"
        alt="Webcam feed"
      />
    </div>
  </body>
</html>
